/* src/App.css */
.app-container {
  display: flex;
  background-color: #161828; /* This is the main dark background */
  min-height: 100vh;
  color: #A9A9B2;
}

.main-content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}